.container {
  margin: 30px;
  padding: 30px;
  background: aliceblue;
}

.newsContainer {
  display: flex;
  padding: 30px;
  border-bottom: darkcyan 1px solid;
}

.newCont {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* flex-direction: column; */
}

.newsInfo {
  /* margin-right: 40px; */
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 30px;
  font-size: 40px;
}

h4 {
  /* flex-grow: 1; */
  max-width: 500px;
}

p {
  /* white-space: nowrap; */
  /* word-wrap: break-word; */
  /* word-break: break-all; */
}

h5 {
  margin-right: 20px;
  color: grey;
}

h6 {
  color: darkcyan;
}
.creator-date {
  display: flex;
}

img {
  margin-left: 10px;
  height: 300px;
  object-fit: contain;
}
