.btn {
  padding: 5px 10px;
  font-size: large;
  transition: 0.2s ease-in-out;
  text-transform: capitalize;
  background: #532fd5;
  border-radius: 10px;
  border: none;
  color: aliceblue;
}
.btn:hover {
  background: #3da0da;
  cursor: pointer;
}
