.btn {
  margin-right: 20px;
  padding: 5px 15px;
  font-size: large;
  transition: 0.5s ease-in-out;
  text-transform: capitalize;
}
.btn:hover {
  background: #888;
  padding: 10px 25px;
  cursor: pointer;
  border: burlywood 1px solid;
}
