<div class='container'>


    <div class='btnContainer'>
        <app-button class='btn' text="business"> business </app-button>
        <app-button class='btn' text="entertainment"> </app-button>
        <app-button class='btn' text="environment"> </app-button>
        <app-button class='btn' text="food"> </app-button>
        <app-button class='btn' text="health"> </app-button>
        <app-button class='btn' text='politics'> </app-button>
        <app-button class='btn' text='science'> </app-button>
        <app-button class='btn' text='sports'> </app-button>
        <app-button class='btn' text='technology'> </app-button>
        <app-button class='btn' text='top'> </app-button>
        <app-button class='btn' text='world'></app-button>
    </div>
</div>