<div class='container'>
    <div class='btnContainer'>
        <a class="btn" routerLink="tech" aria-current="page">tech</a>
        <a class="btn" routerLink="food" aria-current="page">food</a>
        <a class="btn" routerLink="entertainment" aria-current="page">entertainment</a>
        <a class="btn" routerLink="environment" aria-current="page">environment</a>
        <a class="btn" routerLink="politics" aria-current="page">politics</a>
        <a class="btn" routerLink="business" aria-current="page">business</a>
    </div>
</div>