<div class='container'>
    <div class='btnContainer'>
        <app-button text="business"> business </app-button>
        <app-button text="entertainment"> </app-button>
        <app-button text="environment"> </app-button>
        <app-button text="food"> </app-button>
        <app-button text="health"> </app-button>
        <app-button text='politics'> </app-button>
        <app-button text='science'> </app-button>
        <app-button text='sports'> </app-button>
        <app-button text='technology'> </app-button>
        <app-button text='top'> </app-button>
        <app-button text='world'></app-button>
    </div>
</div>